body {
  background-color: #4B3C2A;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}


/* .App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

.subheader{
  display: flexbox;
}
.postTitle {
  position: inherit;
}
#productsPageTite{
position: initial;
}
.productsContainer {
  position: inherit;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row;
}

.productCard {
  display: flexbox;
  flex-direction: column;

}
.productImage {
  width: 350px;
} */
/* Add more styling for other elements if needed */

body{
  width: 95%;
  height: 95%;
}



@media (min-width: 600px) {
 body {
      width: 100% !important;
      height: 95% !important;
  }
  .productImage{
    width: 250px !important;
    max-height: 250px !important;
    margin-left: 0vw !important;
    padding-left: 0vw !important;
  }
  .productPrice {
    padding-bottom: 1em !important;
  }
  .productBrand {
    padding-top: 1em !important;
  }
  .productName {
    padding-top: 1em !important;
    margin-top: 1em !important;
  }
}