body {
  background-color: #4B3C2A;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

#footer {
  background-color: #3F8F29;
  margin-top: 100px;
}

#logo {
  width: 300px;
  position: relative;
  left: 50px;
  bottom: 20px;
}
/* .App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

.subheader{
  display: flexbox;
}
.postTitle {
  position: inherit;
}
#productsPageTite{
position: initial;
}
.productsContainer {
  position: inherit;
  display: flexbox;
  flex-wrap: wrap;
  flex-direction: row;
}

.productCard {
  display: flexbox;
  flex-direction: column;

}
.productImage {
  width: 350px;
} */
/* Add more styling for other elements if needed */

body{
  width: 95%;
  height: 95%;
}



@media (min-width: 600px) {
 body {
      width: 100% !important;
      height: 95% !important;
  }
  .productImage{
    width: 250px !important;
    max-height: 200px !important;
    margin-left: 0vw !important;
    padding-left: 0vw !important;
    margin-bottom: 2em;
  }
  .productPrice {
    padding-bottom: 1em !important;
  }
  .productBrand {
    padding-top: 1em !important;
  }
  .productName {
    padding-top: 1em !important;
    margin-top: 1em !important;
  }
  a{
    color:#3F8F29;
  }

  /* Login CSS -------------------------------------- */
  #email {
    padding-right: 1em !important;
    margin-left: 0.75em !important;
  }
  #password {
    margin-left: 1em !important;
  }
  /* End of Login CSS --------------------------------- */
  /* Register User CSS----------------------------------- */
  #lockIcon{
    left: 155px !important;
  }
  /* End of Register User CSS----------------------------- */

  /* All products page css ------------------------------- */
  #clearBttn {
    margin-top: 0px !important;
    margin-left: 2em !important;
  }
  #searchBarButton {
    margin-left: 1em !important;
    width: 12em !important;
  }
  #searchBar {
    width: 20em !important;
  }
  .productsCards {
    max-height: 20em !important;

  }
  .productCard {
    max-height: 20em !important;
    display: grid !important;
    grid-template-columns: repeat(4, auto) !important;
    gap: 0em !important;
    grid-template-rows: 0.5fr, 1fr !important ;
    
  }
  .productName {
    grid-column: 3/4 !important;
    grid-row: 1 !important;
  }
  .productBrand{ 
    grid-column: 3/4 !important;
    grid-row: 2 !important;
  }
  .productImage{
    grid-column: 1/4 !important;
    grid-row: 2/3 !important;
    max-width: 200px !important;
    max-height: 170px !important;
    /* min-width: 200px !important;
    min-height: 200px !important; */
  }
  .productPrice {
    grid-column: 3/4 !important;
    grid-row: 3 !important;
  } 
  /* End of all products css --------------------------------- */
  /* .credits {
    
  } */
}